
.mainPrincipal{
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
   

}

@media(min-width:660px){
    .mainPrincipal{
        display: flex;
        flex-direction: row;
    }
}